version: '3.8'

services:
  web:
    build: .
    command: /app/start.sh
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    ports:
      - 8000:8000
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/bizforge_db
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=bizforge_db
    ports:
      - 5432:5432

volumes:
  postgres_data:
